PROYECTO DE BI PARA ESCUELA DEPORTIVA, TABLA ALUMNO

PAQUETES E IMPORTACIONES A UTILIZAR

In [ ]:
#crear entorno virtual en la carpeta del proyecto:
# python -m venv env o mi_entorno
# env/Script/Activate         para activar el entorno virtual en windows
# source env/bin/activate     para activar en linux
#instalar las siguientes librerias

#desactivar /   deactivate

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.impute import SimpleImputer #pip install scikit-learn

Cargar los datos

In [31]:
data = pd.read_csv('data/datos_sinprocesar/alumno_202510042011.csv')

Visualizar los datos

In [ ]:
data.head()

Verificar la estructura de los datos

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_alumno      1000 non-null   int64
 1   nombre_alumno  899 non-null    object
 2   matricula_id   1000 non-null   int64
 3   sede_id        1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

Estadistico

In [13]:
data.describe()

         id_alumno  matricula_id      sede_id
count  1000.000000   1000.000000  1000.000000
mean    500.500000    506.168000   528.463000
std     288.819436    287.647515   281.696201
min       1.000000      2.000000    17.000000
25%     250.750000    257.000000   298.750000
50%     500.500000    517.000000   535.000000
75%     750.250000    755.250000   776.250000
max    1000.000000    999.000000  1016.000000

Estadistica de Campos Categoricos

In [10]:
data.describe(include='O')

          nombre_alumno
count               899
unique               25
top     Estudiante Test
freq                612

Visualizar el tamaño del dataset (dataframe)

In [9]:
data.shape

(1000, 4)

Outlier modo grafico

In [ ]:
cols = data.select_dtypes(include=['number']).columns
for col in cols:
    plt.figure(figsize=(10,1))
    sns.boxplot(data=data[cols], x=col)
    #sns.boxplot(x=data[col])
    plt.title(f'Boxplot de {col}')
    plt.show()

outliers - calculado

rango intercuartilico

In [34]:
outliers = {}

for col in cols:
    Q1 = np.percentile(data[col], 25)
    Q3 = np.percentile(data[col], 75)
    IQR = Q3 - Q1  # Rango Intercuartílico

    LI = Q1 - 1.5 * IQR  # Límite inferior
    LS = Q3 + 1.5 * IQR  # Límite superior

    outliers_col = data[(data[col] < LI) | (data[col] > LS)][col]
    outliers[col] = outliers_col

    print(f'{col}: {len(outliers_col)} outliers')
    print(f'  Límites: [{LI:.2f}, {LS:.2f}]')
    print(f'  Min: {data[col].min()}, Max: {data[col].max()}')
    print('-' * 40)

id_alumno: 0 outliers
  Límites: [-498.50, 1499.50]
  Min: 1, Max: 1000
----------------------------------------
matricula_id: 0 outliers
  Límites: [-490.38, 1502.62]
  Min: 2, Max: 999
----------------------------------------
sede_id: 0 outliers
  Límites: [-417.50, 1492.50]
  Min: 17, Max: 1016
----------------------------------------

histogramas- outliers

In [ ]:
sns.histplot(data=data, x='matricula_id', kde=True)

Valores Nulos

In [22]:
data.isna().mean()*100

id_alumno         0.0
nombre_alumno    10.1
matricula_id      0.0
sede_id           0.0
dtype: float64

Eliminar valores Nulos

In [32]:
# Eliminar filas con valores nulos en la columna y filas donde el nombre está vacío (cadena vacía o solo espacios)
#data = data[data['nombre_alumno'].notna() & (data['nombre_alumno'].str.strip() != '')]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_alumno      1000 non-null   int64
 1   nombre_alumno  899 non-null    object
 2   matricula_id   1000 non-null   int64
 3   sede_id        1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

Eliminar datos inconsistentes

In [36]:
import re

# Palabras clave indicativas de datos inconsistentes
patron = r'estudiante test|test|prueba|desconocido'

# Filtrar filas que no contengan estas palabras en 'nombre_alumno' (ignorando mayúsculas/minúsculas)
data = data[
    data['nombre_alumno'].notna() &
    (data['nombre_alumno'].str.strip() != '') &
    (~data['nombre_alumno'].str.lower().str.contains(patron, na=False))
]

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 287 entries, 0 to 998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_alumno      287 non-null    int64
 1   nombre_alumno  287 non-null    object
 2   matricula_id   287 non-null    int64
 3   sede_id        287 non-null    int64
dtypes: int64(3), object(1)
memory usage: 11.2+ KB

Guardar data procesada

In [39]:
data.to_csv('data/datos_procesador/alumno_limpio.csv', index=False)